# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Composer and Drush -related files
composer.*
vendor/*

# framaforms stats json file
framaforms.json 
# Include general-purpose static files
# !sites/default/files/Framasoft_Logo.svg__0.png
#
# !sites/default/files/imgforms/*
