; framaforms_org make file for local development
core = "7.x"
api = "2"

projects[drupal][version] = "7.x"
; include the d.o. profile base
includes[] = "drupal-org.make"

; +++++ Libraries +++++

; mpdf
libraries[mpdf][directory_name] = "mpdf"
libraries[mpdf][type] = "library"
libraries[mpdf][destination] = "libraries"
libraries[mpdf][download][type] = "get"
libraries[mpdf][download][url] = "" ; TODO add download URI

; highcharts
libraries[highcharts][directory_name] = "highcharts"
libraries[highcharts][type] = "library"
libraries[highcharts][destination] = "libraries"
libraries[highcharts][download][type] = "get"
libraries[highcharts][download][url] = "" ; TODO add download URI

; tcpdf
libraries[tcpdf][directory_name] = "tcpdf"
libraries[tcpdf][type] = "library"
libraries[tcpdf][destination] = "libraries"
libraries[tcpdf][download][type] = "get"
libraries[tcpdf][download][url] = "" ; TODO add download URI

; tinymce
libraries[tinymce][directory_name] = "tinymce"
libraries[tinymce][type] = "library"
libraries[tinymce][destination] = "libraries"
libraries[tinymce][download][type] = "get"
libraries[tinymce][download][url] = "" ; TODO add download URI

